*{margin: 0; padding: 0;}
#header{
	display: block;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	height: 50px;
	
	background-color: white;
	font-family: "Play";
	z-index: 10;
	border-bottom: 5px solid black;
	box-sizing: border-box;
}
#header > *{
	display: inline;
}
#header > *:not(:last-child){margin-right: 20px;}/*Space out elements*/
#header > a{
	color: inherit;
	text-decoration: none;
}

#header + *{margin-top: 55px;}/*Make room above element for header*/
