/*Background coloring*/
.light,
body {
  background-color: #dddddd;
  color: #333333;
}
.dark {
  background-color: #333333;
  color: #dddddd;
}
.red {
  background-color: #aa3939;
}
.gold {
  background-color: #aa8e39;
}
.blue {
  background-color: #343477;
}
.green {
  background-color: #2d882d;
}
/*General CSS*/
* {
  margin: 0;
  padding: 0;
}
p {
  margin-bottom: 1em;
}
body {
  /*Header in dark mode has slightly lighter background than body*/
}
body.dark > #header {
  background-color: #666666;
}
#header {
  font-family: 'Oswald';
  background-color: white;
  height: 60px;
}
#header > h1 {
  margin: 0px 0.25em;
}
#header > * {
  display: inline;
  vertical-align: middle;
}
#logo {
  height: 100%;
  vertical-align: middle;
}
#navigation,
#social-nav {
  font-size: 16pt;
  display: inline-block;
  height: 100%;
}
#navigation > div,
#social-nav > div {
  display: inline-block;
  height: 100%;
  position: relative;
  background-color: #aa8e39;
  padding: 0px 10px;
}
#navigation > div.social,
#social-nav > div.social {
  float: right;
}
#navigation > div:hover,
#social-nav > div:hover {
  background-color: #d4ba6a;
}
#navigation > div a,
#social-nav > div a {
  color: white;
  text-decoration: none;
}
#navigation > div > a,
#social-nav > div > a {
  display: inline-block;
  height: 60px;
  line-height: 60px;
}
#navigation > div > ul,
#social-nav > div > ul {
  /*Dropdown content*/
  display: none;
  position: absolute;
  top: 60px;
  left: 0px;
  min-width: 160px;
  padding: 12px 16px;
  background-color: #d4ba6a;
  list-style: none;
  z-index: 1;
}
#navigation > div > ul > li:hover,
#social-nav > div > ul > li:hover {
  background-color: #e5d090;
}
#navigation > div > ul > li > a,
#social-nav > div > ul > li > a {
  display: inline-block;
  width: 100%;
}
#navigation > div:hover > ul,
#social-nav > div:hover > ul {
  display: block;
}
#social-nav {
  float: right;
}
#social-nav > div {
  background-color: #dddddd;
}
#social-nav > div:hover {
  background-color: white;
}
#social-nav > div > a > img {
  height: 100%;
}
#content {
  font-family: 'Bree Serif';
  font-size: 14pt;
  padding: 1em;
}
#content.center {
  text-align: center;
}
#content a {
  color: inherit;
}
/*Home page hexagons*/
svg {
  margin: 5px;
}
svg > text {
  fill: white;
  font-size: 35px;
}
svg > polygon {
  fill: #aa8e39;
}
svg:hover > polygon {
  fill: #d4ba6a;
}

