.slideshow-wrapper{
	text-align: center;
}
.slideshow > img{
	display: inline;
	opacity: 0.7;
	width: 50px;
	transition: all 0.5s;
	border: 1px solid black;
}
.slideshow > img.selected, .slideshow > img:hover{opacity: 1;}
.slideshow > img.selected{width: 541px;}
.slideshow > img:not(.selected):hover{width: 200px;}
