//Constants (http://paletton.com/#uid=7001b0kllllaFw0g0qFqFg0w0aF)
@red: #AA3939;
@red-light1: #D46A6A;
@red-light2: #FFAAAA;
@red-dark1: #801515;
@red-dark2: #550000;

@gold: #AA8E39;
@gold-light1: #D4BA6A;
@gold-light2: #FFEAAA;
@gold-dark1: #806515;
@gold-dark2: #554000;

@blue: #343477;
@blue-light1: #565695;
@blue-light2: #8080B3;
@blue-dark1: #1A1A59;
@blue-dark2: #09093B;

@green: #2D882D;
@green-light1: #55AA55;
@green-light2: #88CC88;
@green-dark1: #116611;
@green-dark2: #004400;

@black: #333;
@white: (#FFFFFF - #222);
@header-font: 'Oswald';
@content-font: 'Bree Serif';
@header-height: 60px;

//Background coloring
.light{background-color: @white; color: @black;}
.dark{background-color: @black; color: @white;}
.red{background-color: @red;}
.gold{background-color: @gold;}
.blue{background-color: @blue;}
.green{background-color: @green;}

//General CSS
*{margin: 0; padding: 0;}
p{margin-bottom: 1em;}
body{
	&:extend(.light);//Start with light background (Space will toggle)
	&.dark > #header{background-color: (@black + @black);}/*Header in dark mode has slightly lighter background than body*/
}
#header{
	font-family: @header-font;
	background-color: white;
	height: @header-height;
	& > h1{margin: 0px 0.25em;}
	& > *{
		display: inline;
		vertical-align: middle;
	}
}
#logo{
	height: 100%;
	vertical-align: middle;
}
#navigation{
	font-size: 16pt;
	display: inline-block;
	height: 100%;
	& > div{
		display: inline-block;
		height: 100%;
		position: relative;
		
		background-color: @gold;
		&:hover{background-color: @gold-light1;}
		z-index: 0;
		
		padding: 0px 10px;
		
		& a{
			color: white;
			text-decoration: none;
		}
		& > a{
			display: inline-block;
			height: @header-height;
			line-height: @header-height;
		}
		
		& > ul{/*Dropdown content*/
			display: none;
			position: absolute;
			top: @header-height;
			left: 0px;
			min-width: 160px;
			padding: 12px 16px;
			
			background-color: @gold-light1;
			
			list-style: none;
			z-index: 10;
			& > li:hover{background-color: (@gold-light2 - #1A1A1A);}
			& > li > a{
				display: inline-block;
				width: 100%;
			}
		}
		&:hover > ul{
			display: block;
		}
	}
}
#content{
	font-family: @content-font;
	font-size: 14pt;
	padding: 1em;
	&.center{text-align: center;}
}
.image-wrapper{
	text-align: center;
	& > img{
		display: inline;
		width: 40%;
	}
}

//Home page hexagons
svg{
	margin: 5px;
	& > text{
		fill: white;
		font-size: 35px;
	}
	& > polygon{fill: @gold;}
	&:hover > polygon{fill: @gold-light1;}
}
