<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/res/slick.css"/><!--Slick core CSS-->
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/res/slick-theme.css"/><!--Slick theme CSS-->
<script type="text/javascript" src="{{ site.baseurl }}/res/slick.min.js"></script><!--Slick scripts-->
<style type="text/css">.slideshow img{border: 1px solid black;}</style>
<script type="text/javascript">//Initialize slideshow elements
	$(function(){
		$(".slideshow").each(function(){
			$(this).children("img").css("width", $(this).data("width")).css("height", $(this).data("height"));
		}).slick();
	});
</script>
