<html>
	<head>
		<meta charset="UTF-8"/>
		<title>{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
		<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Indie+Flower|Source+Sans+Pro">
		<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/res/main.css"/>
		<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/res/slideshow.css"/>
		<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
		<script type="text/javascript" src="{{ site.baseurl }}/res/slideshow.js"></script>
	</head>
	<body>
		<nav id="header">
			<h1>{{ site.title }}</h1>
			<a href="{{ site.baseurl }}/">Home</a>
			<a href="{{ site.baseurl }}/about">About P:C</a>
			<a href="{{ site.baseurl }}/demo">Demo</a>
			<a href="{{ site.baseurl }}/devs">About the Developers</a>
		</nav>
		{{ content }}
	</body>
</html>
