.issue,
.milestone {
  list-style: none;
  padding-left: 10px;
  margin-bottom: 10px;
}
.milestone {
  border-left: 5px solid #555;
}
.milestone > h2 {
  display: inline-block;
}
.progress-bar {
  display: inline-block;
  width: 300px;
  height: 15px;
  background-color: #AAA;
  margin-left: 10px;
  border-radius: 3px;
  overflow: hidden;
  /*Progress inside doesn't have wrapped corners, so prevent its square corners from overflowing outside these rounded corners*/
}
body.dark .progress-bar {
  background-color: #555;
}
.progress-bar > .progress {
  display: inline-block;
  background-color: #22aa22;
  height: 100%;
}
.issue {
  border-left: 5px solid #888;
}
.issue.complete {
  border-left-color: #22aa22;
}
.issue.active {
  border-left-color: #6666ff;
}
.issue > h3 > button {
  width: 1.5em;
  height: 1.5em;
  border: none;
}
.issue > h3 > button.expand {
  background-color: green;
  color: white;
  margin-left: 5px;
  border-radius: 3px 0px 0px 3px;
}
.issue > h3 > button.collapse {
  background-color: white;
  border-radius: 0px 3px 3px 0px;
}
.issue .assignee {
  color: #6666ff;
}
.issue .assignee > img {
  height: 1.5em;
  vertical-align: middle;
  margin: 0px 5px;
  /*5px margin on all sides*/
}
.issue p {
  margin: 0;
}
/*Override margin-bottom set for main site CSS*/
.issue ul {
  margin-left: 16px;
}
.issue > *:not(h3) {
  display: none;
}
/*Can be shown with JS buttons*/

